---
import './hero.css';
import Button from '../atoms/Button.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradient">Christos Panorios</h1>
			<p class="hero__text">
				I am Christos and welcome to my website!
			</p>
			<Button href="#about" text="About Me"/>


		</div>
    <img
		class="hero__img"
		src="/img/author.png"
		alt="Christos"
		width="384"
    	height="384"
	/>
	</div>
</section>
