---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="/img/author.png"
			alt="Christos"
		/>

		<div class="about__content">
			<Title margin="1rem" content="About Me" />
			<p class="about__text">
				I am Christos and I am an MSc Student studying Computer Science at the University of Crete. My BSc is on Mathematics from the University of Crete<br>
				<br><br>
				I also design websites! I love crafting sleek, functional, and user-friendly websites that bring ideas to life.<br>

				Whether it's designing intuitive interfaces or optimizing digital experiences, I'm always exploring new ways to push the boundaries of web design.
				<br><br>
				When I'm not coding, you can find me playing video games, reading books, or exploring the great outdoors. I love to travel and discover new places and cultures.
 
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
