---
import Button from "../components/atoms/Button.astro";
import Layout from "../layouts/Layout.astro";


---

<Layout title="Not Found">
        <h1 class="text-xl">Page is not found</h1>
        <Button text="Home" href="/"/>
</Layout>